*{
    margin: 0;
    padding: 0;
}
.container{
background-color: black;
padding: 0.7rem;
display: flex;
}

.container_inner{
    color: aliceblue;
    margin-left: 1rem;
}

.container_ul{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    list-style: none;
    margin-top: 0.5rem;
    cursor: pointer;
    
}
.container_ul_li{
    margin-left: 1rem;
}